.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: turquoise;
}

.chat-header {
    text-align: center;
    margin-bottom: 10px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    max-height: 300px;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-input-container {
    display: flex;
    flex-direction: column;
}

.username-input,
.message-input {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #555;
}

.send-button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: turquoise;
    color: white;
    cursor: pointer;
}

.send-button:hover {
    background-color: darkturquoise;
}