.header {
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 100px;
    height: auto;
}

.header nav ul {
    list-style-type:none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: #007bff;
}